.body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont{
    padding:20px 70px;
    background-color: tomato;
    display: inline;
    cursor: pointer;
    transition: 0.3s;
    border:1px solid black;
    border-radius: 8px;
    color:white;
}
.cont:hover{
    transform: scale(1.1);
    background-color:red;
}
.cont:active{
    transition: none;
    background-color: rgb(99, 0, 0);
}

.cont:disabled{
    background-color: grey;
    cursor: none;
}

.disable{
     padding:20px 70px;
    background-color: grey;
    display: inline;
    cursor: pointer;
    transition: 0.3s;
    border:1px solid black;
    border-radius: 8px;
    color:white;
    cursor:not-allowed;
}
.disable:hover{
    transition: none !important;
    transform: none !important;
    background-color: grey !important;
}


.clear{
    padding:20px 70px;
    background-color: white;
    display: inline;
    cursor: pointer;
    transition: 0.3s;
    border:1px solid black;
    border-radius: 8px;
    color:black;
}
.clear:hover{
    transform: scale(1.1);
    background-color:yellow;
}
.clear:active{
    transition: none;
    background-color: darkgrey;
}